/*=== modif bootstrap ===*/
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }


 /* reset lien a*/
  a:link {
    color: white; 
    text-decoration:underline;
  }
  a:visited {
    color: #8D5D26;
    text-decoration:underline;
  }
  a:hover {
    color:#8D5D26;
    text-decoration:none;
  }
  /* Déclaration pour IE qui assimile l'état :focus à l'état :active */ /* Déclaration pour IE qui assimile l'état :focus à l'état :active */
  a:focus, a:active {
    background:#ACDFFA;
    text-decoration:none;
    color:#000000;
  }
  
/*=== body ===*/
html{
    background-color: black;
}
/*=== header ===*/

header{
    background-image: url("../pictures/Alaska-Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0275D8;
    text-align: center;
    padding : 50px;
}
h1{
    width: 200px;
    font-size: 30px;
    color: white;
    background-color: #0275D8;
    margin: auto;
}

@media screen and (min-width:960px) { 
    h1{
        width: 500px;
        font-size: 50px;
        
    }

 }

 #main{
     background-color: #0275D8;
     color: white;
     text-align: center;
 }

 #rightContent{
    background-color: purple;
    color: white;
}


 footer{
     background-color: black;
     color: white;
     text-align: center;
 }

 footer a{
    margin: auto;
    text-align: center;

 }
