/*=== modif bootstrap ===*/
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }

 /* reset lien li*/
 li {
    list-style-type: none; 
  }
 /* reset lien a*/
  a:link {
    color: white; 
    text-decoration:none;
  }
  a:visited {
    color: #8D5D26;
    text-decoration:none;
  }
  a:hover {
    color:#8D5D26;
    text-decoration:none;
  }
  /* Déclaration pour IE qui assimile l'état :focus à l'état :active */ /* Déclaration pour IE qui assimile l'état :focus à l'état :active */
  a:focus, a:active {
    background:#ACDFFA;
    text-decoration:none;
    color:#000000;
  }
  
/*=== body ===*/
html{
    background-color: black;
}
/*=== header ===*/

header{
    background-image: url("../pictures/Alaska-Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0275D8;
    text-align: center;
    padding : 50px;
}
h1{
    width: 200px;
    font-size: 30px;
    color: white;
    background-color: #0275D8;
    border-radius: 50px;
    margin: auto;
    text-align: center;
 
}

@media screen and (min-width:960px) { 
    h1{
        width: 500px;
        font-size: 50px;
        
    }

 }
/* contenu front */
 #main{
     background-color: #0275D8;
     color: white;
     text-align: center;
 }

 /* contenu back */
 #rightContent{
    background-color: purple;
    color: white;
}

.ulAside{
    margin: auto;
    padding: 0;
}

#rightContent li{
    width: 90%;
    margin: 5px auto;
}

#mainContentAdmin{
    background-color: red;
}


/* footer*/
 footer{
     background-color: black;
     color: white;
     text-align: center;
 }

 footer a{
    margin: auto;
    text-align: center;

 }
/* nav lecture */
    
.navbar{
    flex-direction: row;
    justify-content: center;
    background-color: black;
}



 /* tinymce */
.tinyForm{
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

 /* tinymce */
 .cadre{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin:auto;
    text-align: left;
 }
